/* src/components/Desktop.module.scss */

.desktop {
  // background-color: $military-light-beige; // A háttérszín a Desktop komponensen
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // A max-width és width beállításokat áthelyeztük a Container komponensbe!
  // Itt már nem kellenek a max-width és width beállítások, mert a Container kezeli.
}